<!DOCTYPE html>
<html>
<head>
  <title>GivingYear</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <!-- <%= csrf_meta_tags %> -->
</head>
<body data-ng-app="givingYear">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div ng-include="'nav/_nav.html'"></div>
  <ui-view></ui-view>
  <footer>
    <div class="col s12 m6 offset-m3">
      Giving Year &copy;2016 Rachel Porter
    </div>
    <div class="col s12 m6 offset-m3 valign-wrapper">
      <img src="https://www.clever-cloud.com/assets/img/github-icon.svg" alt=""><a class="valign" href="http://github.com/ddayporter/givingYear" target="_blank">Fork me on Github</a>
    </div>
    <div class="col s12 m6 offset-m3 valign-wrapper">
      <img src="http://www.hilaklein.com/hilaImages/twitter.png" alt=""><a class="valign" href="http://twitter.com/ddayporter" target="_blank">Follow me on Twitter</a>
    </div>
  </footer>
</body>
</html>
